// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";


.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}
.hero {
    background: black url(../images/Startup1.jpg) center / cover;
}

@media (max-width: 1024px) { .hero {background: black url(../images/celular1024.jpg) center / cover;} }
@media (max-width: 768px) { .hero {background: black url(../images/celular768.jpg) center / cover;} }

.footer {
	background-color: #3f51b1;
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
	font-weight: 700;
	line-height: 100%;
	margin-top: 1rem;
	margin-bottom: 0.5rem;  
}

body, p, .label {
	font-family: 'Rubik',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 200%;  
	color: #fff;
}

section {
	padding-bottom: 2em;
}

Footer {
	padding-bottom: 0;
}

.column {
	padding-left: 1em;
}

.button {
	padding-left: 1em; 
	padding-right: 1em; 
}

.textarea {
	padding-bottom: 1.4em;
}

.oras {
	background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f8b94c 100%);
}
.b1 {
	box-shadow: 0 10px 6px -6px #777;
	background-color: #EB7B00;
	padding-top: 1em;
}

.button {
	padding-right: 0.5em;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;

}

.is-three-quarters {
	margin-left: 1rem;
	margin-right: 1rem;
}

.is-size-5 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}